astroid==1.4.9
autopep8==1.2.4
bokeh==0.12.5
cffi==1.9.1
click==6.7
colorama==0.3.7
coverage==4.4.1
cryptography==1.7.1
cycler==0.10.0
dj-database-url==0.4.2
Django==1.11.2
fbpca==1.0
Flask==0.12
gunicorn==19.7.1
idna==2.2
inflection==0.3.1
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.5
lazy-object-proxy==1.2.2
MarkupSafe==1.0
matplotlib==2.0.0
mccabe==0.5.3
more-itertools==2.4.1
ndg-httpsclient==0.4.2
olefile==0.43
pandas==0.19.2
pep8==1.7.0
Pillow==4.0.0
prince==0.2.6
psycopg2==2.7.1
pyasn1==0.1.9
pycparser==2.17
pylint==1.6.4
pymongo==3.4.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytransformer==1.0
pytz==2016.10
PyYAML==3.12
Quandl==3.0.1
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
tornado==4.5.1
virtualenv==15.1.0
Werkzeug==0.12
whitenoise==3.3.0
wrapt==1.10.8
