{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Thank You Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'orders/stylesheet/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Foodhub/stylesheet/style.css' %}" />
	</head>
<body style="background: #efefef;">
<div class="paymentWrapper">
<div class="paymentSubWrapper">
<div class="f-container">
<div class="restaurantOptions">
<div class="paymentTitle">
 	<h3 class="title-top text-center">Thank you for shopping with Foodhub</h3>
</div>
<br>
	<div class="order-body">
		<div class="s-row">
		I hope you had a positive experiance with us.How would you want me to improve the website.
		</div>
		<div class="s-row">
	        <div class="col-sm-12">
	            <textarea class="orderTextArea text-desc" placeholder="Lets your thougts go in here">
	            </textarea>
	    	</div>
	    </div>
	    <div class="s-row">
	    	<a class="btn btn-primary viewbutton home-btn center-block btn-lg text-center" href="/">Take me Back to home page</a>
	    </div>
    </div>	
</div>
</div>
</div>
</div>
</body>	
</html>