{% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=0.8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'shoppingCart/stylesheet/style.css' %}" />

</head>
<script src="{% static 'shoppingCart/js/handleCartView.js' %}"></script>
<body>
<div class="popup" data-popup2="popup-2" style ="z-index: 860">
    <div class="popup-inner">
      <div class = "listAdressEditOptions">
      	<div class="editCartWrapper">
      		<div class="cartSection">
      			<div class="col-xs-12 setMargin">
      				<div class="orderHeader">
      				<h3 class="menuHeading">Your Settings</h3>
      				 </div>
      				 <div class="OrderTypeSection">
      				 	<div class="orderButtonGroup f-btn-group">
      				 		<a id="delivery" class="f-btn f-btn-active" onclick ="handleOrderType(this)">Delivery</a>
      				 		<a id="PickUp" class="f-btn" onclick ="handleOrderType(this)">Pickup</a>
      				 	</div>
      				 </div>
      			</div>
      			<div class="col-xs-12 setMargin">
      				<h5 class="restaurantInfoHeader">Your Delivery Address</h5>
      				<div class="f-input-group">
      					<input type="text" id ="autocomplete3" class="form-control" placeholder="&#xf002;  Where do you live?" style="font-family:Arial, FontAwesome" name="q">
      				</div>
      			</div>
      			<div class="col-xs-12 setMargin">
      				<div class="col-sm-5 col-md-offset-1">
      				<button  onclick = "handleSaveAddres()" class=" btn fs-btn btn-primary btn-lg center-block" href="#">Save</button></div>
      				<div class="col-sm-5">
        			<button data-popup2-close="popup-2" class=" btn btn-primary fs-btn btn-lg center-block" href="#">Cancel</button></div>
      			</div>
      		</div>
      	</div>
      </div>
      <br>
      <br>
        <a class="popup-close" data-popup2-close="popup-2" href="#">x</a>
    </div>
</div>
<div id ="cartContainer" class = "cartContainer col-sm-3 pull-right s-row {% if isMenuPage %}keepopen{% endif %}">
<div class="s-row cartPanel panelContainer newPanel">
	<div id ="cartPanelContainer"  class="cart-contents">
		{% if isMenuPage or productsChosen %}
		<header class="cartHeader">
		<div class="cartOrder-info">
			<div class="shortCartHeader cart-borderbottom">
				<div class="cart-title">
					<h6>Your Order</h6>
				</div>
			</div>
			<div class="s-row shortCartAddress cart-borderbottom">
				<div class="cart-address">
				<div class="s-row"><span>Order Type: <span id ="orderTypeVal">{{order_type}}</span></span></div>
				<div class ="s-row">From: {{restaurantName}}</div>
				<span>To: <span id ="destAddressVal">{{dest_address}}</span></span>
				</div>
				<div class="addressModificationLink">
					<a class="changeLabel" data-popup2-open="popup-2">Change</a>
				</div>
			</div>

		</div>
		</header>
		{%endif%}
		<div class="menucart-content">
		<div id= "cartPanel" class="cartPanelBody">
		{%if productsChosen%}
			<div id = "menuOrderCart" class="productsContainer"> 
				{% for product,sectionName, itemName in productsChosen %}
					<div id ="{{product.name}}container" class="chosenProd cart-borderbottom">
						<div class="prodQty text-center">
							{{product.qty}}
						</div>
						<div class="chosenprodContainer">
							<div class="prodName">
								<span>{{product.name}}  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
							</div>
							<ul class="prodDetails">
								{% for desc in product.customizationList  %}
									<li class= "desciptionList">
										<span>{{desc.name}}</span>
										{%if desc.price != 0%}
										<span> - ${{desc.price}}</span>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="product-price text-center">
								${{product.price}}
						</div>
						<div class="prod-remove">
							<a class="btn" style ="font-size:150%" id ="{{product.name}}delete_{{sectionName}}_{{itemName}}" onclick="handleRemoveProduct(this)">
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<div id ="subTotalWrapper" class="subTotalContainer">
				<div class="s-row chosenItem subtotalDescription">
				<div class="chosenItemLabel">
					<span>Items Subtotal:</span>
				</div>
				<div id ='ProductSubTotal' class="chosenItemValue text-right">
				$ {{subTotal}}
				</div>
				</div>

				<div class="s-row chosenItem subtotalDescription">
				<div class="chosenItemLabel">
					<span>Delivery Fee:</span>
				</div>
				<div id ='ProductDeliveryFee' class="chosenItemValue text-right">
				$ {{deliveryPrice}}
				</div>
				</div>

				<div class="s-row chosenItem subtotalDescription">
				<div class="chosenItemLabel">
					<span>Sales Tax:</span>
				</div>
				<div id ='ProductSalesTax' class="chosenItemValue text-right">
				$ {{salesTax}}
				</div>
				</div>

				<div class="s-row chosenItem subtotalDescription">
				<div class="chosenItemLabel">
					<span>Total:</span>
				</div>
				<div id ='ProductTotal' class="chosenItemValue text-right">
				$ {{totalAmt}}
				</div>
				</div>
			</div>
		{%else%}
			<div id ="cartEmptyContainer" class="cartEmpty text-center">
				<div class="cart-empty cart-borderbottom">
				<h5 class="emptyCart-text">Your Cart is Empty</h5>
				</div>
				{% if isMenuPage %}
				<div class="restaurantfees">
					<div class="minDeliveryCost cart-borderbottom">
						<span> Delivey Cost </span>
						{% if deliveryPrice == 0.0 %}
							<span class="costValue">Free</span>
						{% else %}
							<span class="costValue">${{deliveryPrice}}</span>
						{% endif %}
					</div>
					<div class="minDeliveryCost cart-borderbottom">
						<span> Minimum Order</span>
						<span class="costValue">${{restaurant.deliveryMin}}</span>
					</div>
				</div>
				{%endif%}
			</div>
		{%endif%}
		</div>
		</div>
		{%if productsChosen%}
		<div id ="cartFooterContainer" class="cartFooter">
			<div class="proceedButtonContainer">
			<div class="proceedButtonWrapper">
				<a class="btn proceedButton f-btn f-btn-full btn-info" {% if isOrderConfirmPage %} href='{% url "orders:orderPayment" %}' {% else %} href='{% url "orders:confirmOrder" %}'{% endif%}>
				{% if isOrderConfirmPage %}
				<span> Proceed To Payment</span>
				{%else%}
				<span> Proceed To Checkout</span>
				{% endif%}
					<span id ="totalValue">$ {{totalAmt}}</span>
				</a>
			</div>
			</div>
		</div>
		{%endif%}
	</div>
</div>
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	var activeOrderType ="{{order_type|safe}}";
</script>
<script>
$(function(){
	if(activeOrderType =="Delivery"){
		console.log("it comes inside");
		$("#PickUp").removeClass("f-btn-active");
		$("#delivery").addClass("f-btn-active");
	}else{
		$("#PickUp").addClass("f-btn-active");
		$("#delivery").removeClass("f-btn-active");
	}
	$('[data-popup2-open]').on('click', function(e)  {
		$('body').css('overflow','hidden');
        var targeted_popup_class = jQuery(this).attr('data-popup2-open');
        $('[data-popup2="' + targeted_popup_class + '"]').fadeIn(350);
 
        e.preventDefault();
    });
    $('[data-popup2-close]').on('click', function(e)  {
    	$('body').css('overflow','auto');
        var targeted_popup_class = jQuery(this).attr('data-popup2-close');
        $('[data-popup2="' + targeted_popup_class + '"]').fadeOut(350);
 
        e.preventDefault();
    });
});

var restaurantName = "";
var delMin ="";
var delPrice ="";


function handleRemoveProduct(el){
	var id = el.id;
	var prodName= id.substring(0,id.indexOf("delete"));
	var section_itemName = id.substring(id.indexOf("delete")+"delete".length+1);
	console.log("prodName here:",prodName);
	var sectionName =  section_itemName.substring(0,section_itemName.lastIndexOf("_"));
	var itemName = section_itemName.substring(section_itemName.lastIndexOf("_")+1, section_itemName.length);

	console.log("sectionName here:",sectionName);

	console.log("itemName here:",itemName);

	var prodContainer = document.getElementById(prodName+"container");
	$.ajax({
                 type:"POST",
                 url:'{% url "shoppingCart:removeFromCart" %}',
                 data: {
                 		productName:prodName,
                 		sectionName: sectionName,
                 		itemName:itemName
                        },
                 success: function(result){
                 	console.log("result",result);
                 	restaurantName = result.restautantName;
                 	delMin = result.deliveryMin;
                 	delPrice = result.deliveryPrice;
                 	document.getElementById("menuOrderCart").removeChild(prodContainer);

					if(document.getElementById("menuOrderCart").innerHTML.trim()==""){
						if(document.getElementById("cartEmptyContainer")){
							document.getElementById("cartEmptyContainer").style.display ="block";
						}else{
							constructEmptyCartContainer(result.isMenuPage,delPrice,delMin)
						}
						
						document.getElementById("cartPanel").removeChild(document.getElementById("menuOrderCart"));
					}

					if(document.getElementById("subTotalWrapper")){
						if(result.subTotal !=0){
							document.getElementById("ProductSubTotal").textContent = "$" + result.subTotal;
							document.getElementById("ProductTotal").textContent = "$" + result.totalAmt;
						}else{
							document.getElementById("cartPanel").removeChild(document.getElementById("subTotalWrapper"));
							document.getElementById("cartPanelContainer").removeChild(document.getElementById("cartFooterContainer"));
						}
					}
                 }
    });
}

function handleSaveAddres(){
	var address= document.getElementById("autocomplete3").value;
	$.ajax({
		type:"POST",
        url:'{% url "shoppingCart:updateOrderAdddress" %}',
        data: {
                 		orderType:activeOrderType,
                 		newAddress:address
              },
        success: function(result){
        	document.getElementById("orderTypeVal").textContent = activeOrderType;
        	document.getElementById("destAddressVal").textContent = address;
        	$('[data-popup2-close]').click();
        }      
	});
}

</script>
