{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'Foodhub/stylesheet/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container" id="stateContainer">
<h2 class="text-center">Click on the states to view the cities</h2>
	{% if states %}
	{% for state in states %}
		<a class="col-xs-4">{{state}}</a>
	{% endfor %}
	{% endif %}
</div>
</body>