{% load static %}
<head>
<title>Restauarants</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8" />
<link rel="stylesheet" type="text/css" href="{% static 'Foodhub/stylesheet/style.css' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='//fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link href="//gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" />
</head>
<script>
function calcDistane(lat1, lon1,address_coord) {
	console.log("lat1 here:",lat1);
	console.log("calc1  here:",address_coord.lat - lat1);
  var p = 0.017453292519943295;    // Math.PI / 180
  var c = Math.cos;
  var a = 0.5 - c((address_coord.lat - lat1) * p)/2 + 
          c(lat1 * p) * c(address_coord.lat * p) * 
          (1 - c((address_coord.lng - lon1) * p))/2;
    console.log("a val here:",a);
  return 12742 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km
}
</script>
<body style="background: #569ec1;" onload ="initialize()">
<nav class="navbar navbar-fixed-top navbar-inverse" style="background: red">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand mainlogo" style="color: white;font-size: 300%" href="/">Foodhub</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    <div class="col-sm-3 col-md-3"></div>
    	<div class="col-sm-4 wrapper" style="padding-top: 1%;">
	        <!-- <form class="navbar-form" role="search"> -->
	            <input type="text" id ="autocomplete" class="form-control" placeholder="&#xf002;  Where do you live?" style="font-family:Arial, FontAwesome" name="q">
	        <!-- </form> -->
	    </div>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 10%">
        {% if isLoggedIn %}
      		<li style="padding-top: 2%"><a id="logout" style ="color: white;font-family: Arial black" href="{% url 'logout' %}">Logout</a>
        	</li>
        	<li><a id="profile" style ="color: white;font-family: Arial black;font-size:250%;overflow: hidden;" href="{% url 'profile' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span style="font-size: 40%;vertical-align: middle; height: 100%;top: 0;">{{username}}</span></a>
        	</li>
        {% else %}
        	<li style="padding-top: 2%"><a id="login" style ="color: white;font-family: Arial black" href="{% url 'login' %}" >Login</a></li>
        	<li style="padding-top: 5%"><a id="signup" class="signupText" href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
        <li style="padding-top: 10px;cursor: pointer;" onclick="handleCartClick()" class="pull-right">
	        <div style="font-size:300%;color:white;height:100%;padding:0 10px"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
	        </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"></ul>
    </div>
  </div>
</nav>
<div class="restaurantDisplay">
<div class= "row">
<div class="col-sm-3" style="padding-right: 0">
<div class="s-row FeedBackContainer">
	<div class="s-row PanelHeader">
		<h3 class="text-center menuHeading" style="margin-top: 0">Filter</h3>
	</div>
	<br>
	<div id="OrderType" class="orderTypeClass" style="overflow: hidden;">
		<h4 class="text-center order-title">I want</h4>
			<div class="btn-group orderButtons" data-toggle="buttons">
			    <label id ="delivery-button" class="btn btn-lg orderButton">
			        <input type="radio" name="options" id="delivery" onchange="handleOrderTypeChange(this)"> Delivery
			    </label>
			    <label id ="takeout-button" class="btn btn-lg orderButton">
			        <input type="radio" name="options" id="Takeout" onchange="handleOrderTypeChange(this)" > Takeout
			    </label>
		 	</div>	
	</div>
	<div class="Ratings">
		<h4>Ratings</h4>
		<div class="star-rating">
			  <div class="star-rating__wrap">
			    <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
			    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
			    <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
			    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
			    <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
			    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
			    <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
			    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
			    <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
			    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
			  </div>
		</div>
		
	</div>
	<div>
		<h4>Sort By</h4>
		<select class="form-control" data-style="btn-primary" id="sortOrder" onchange="handleSorting(this)">
			<option value="default">Alphabetical</option>
			<option value="Rating">Rating</option>
			<option value="Distance">Distance</option>
			<option value="deliveryMin"> Delivery Minutes</option>
			<option value="deliveryPrice"> Delivery Fee</option>
		</select>
	</div>
	<br>
	<div class="delivertSlider">
		<h4>Delivery Time</h4>
		<input id="ex13" type="text" data-slider-ticks="[30, 45, 60, 75]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='["30", "45", "60", "Any"]' onchange="handleDeliveryTimeChange(this)" />
	</div>
	<br>
	<div>
		<h4>Cuisines</h4>
		{% for key, value in cuisines.items %}
			<div class="checkBoxinnerWrapper">
				<input id={{forloop.counter}} class="checkboxclass" type="checkbox" name ={{key}}/>
				<label for ={{key}} class="checkboxholder"></label>
				<label for ={{key}} class="checkboxDescirption" >{{key}}-{{value}} </label>
			</div>
		{% endfor %}
	</div>
	<br>
	<div>
		<h4>Features</h4>
		<div>
				<label><input type="checkbox"/>Free Delivery </label>
		</div>
		<div>
				<label><input  type="checkbox"/>Open Now </label>
		</div>
	</div>
</div>
</div>
<div class="col-sm-9" style="background: white; padding-left: 0;min-height:100%">
<div class="restaurantHeading">
<div style="vertical-align: middle">
<h3 class="text-center" style="color: white;font-family: Arial black">So Many to Choose From</h3>
<h4 class="text-center" style="color: white;font-family: Arial black">Where would you like to order?</h4>
</div>
</div>
{% for restaurant in restaurants %}
<div class="f-row">
	<div class="col-sm-6">
		<div class="imageShow">
			<img src="{{restaurant.logoUrl}}" alt="{{restaurant.name}} logo" width = 90>
		</div>
		<div class="rDescription">
			<h4>
			<a style="font-family: Arial black;" href="{% url 'restaurant' restaurant_name=restaurant.name|urlencode %}">{{restaurant.name}}</a>
			</h4>
			<div style= "text-overflow: ellipsis;overflow: hidden;width:150px;white-space: nowrap;">{{restaurant.foodTypes|join:","}}</div>
			<div>
				{{restaurant.streetAddress}},{{restaurant.city}},{{restaurant.state}}
			</div>
		</div>
	</div>
	<div class="col-sm-6">
	<div class="restInfo ">
		{% if city in ratings %}
			<div class="col-sm-3 rating">{{ratings.city}}</div>
		{% else %}
			<div class="col-sm-3 rating">No Ratings</div>
		{% endif %}
		{% if restaurant.offersDelivery %}
		<div class="col-sm-3 minDelivery">
			<h4 class="text-center">${{restaurant.deliveryMin}}</h4>
			<span class="text-center">Miniumum</span>
		</div>
		<div class="col-sm-3">
			{% if 'deliveryPrice' not in restaurant or restaurant.deliveryPrice == 0.0 %}
			<h5 class="text-center">Free</h5>
			{% else %}
			<h4 class="text-center">${{restaurant.deliveryPrice}}</h4>
			{% endif %}
			<span class="text-center">Delivery Fee</span>
		</div>
		<div class="col-sm-3">
			<h5 class="text-center">{{restaurant.minWaitTime}} - {{restaurant.maxWaitTime}}</h5>
			<span class="text-center">Waiting time</span>
		</div>
		{% else %}
		<div class="col-sm-9">
			<h4 class="text-center" > The restaurant doesn't deliver food</h4>
		</div>
		{% endif %}
	</div>
	</div>
</div>
{% endfor %}
{% if restaurants.has_other_pages %}
<div class="text-center">
  <ul class="pagination" >
    {% if restaurants.has_previous %}
      <li><a href="?pageNum={{ restaurants.previous_page_number }}&orderType={{orderTypeValue}}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in restaurants.paginator.page_range %}
      {% if restaurants.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?pageNum={{ i }}&orderType={{orderTypeValue}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if restaurants.has_next %}
      <li><a href="?pageNum={{ restaurants.next_page_number }}&orderType={{orderTypeValue}}	">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
 </div> 
{% endif %}
</div>
</div>
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/plain" src=//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>
<script src="//gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
<script>

function handleSearchLocation(){
	var addressVal = autocomplete.getPlace().formatted_address;
	console.log("addressVal here:",addressVal);
	if(addressVal!=""){
		location.href="../"+addressVal +"/";

	}
}

function handleOrderTypeChange(el){
	var id = el.id;
	console.log("id here:",id);
	var locationVal = document.getElementById("autocomplete").value;
	console.log("locationVal here:",locationVal)
	if(locationVal!=""){
		 var url = "{% url 'findrestaurants' address=123 %}";
		location.href=url.replace('123', locationVal)+"?orderType="+id;
	}
}


$(function () {

	 $('.rating-select .btn').on('mouseover', function(){
        $(this).removeClass('btn-default').addClass('btn-warning');
        $(this).prevAll().removeClass('btn-default').addClass('btn-warning');
        $(this).nextAll().removeClass('btn-warning').addClass('btn-default');
    });

	 var orderTypeVal ={{orderTypeValue|safe}}
	 console.log("orderTypeVal:",orderTypeVal);
	 var element;
	 if(orderTypeVal == "delivery"){
	 	 	element = document.getElementById("delivery-button");
	 }else{
	 		element = document.getElementById("takeout-button");
			
	 }
	 element.className += " active" ;

	 var sortBy ={{sortBy|safe}}
	 if(sortBy!="default"){
	 	document.getElementById("sortOrder").value = sortBy;
	 }

    $('.rating-select').on('mouseleave', function(){
        active = $(this).parent().find('.selected');
        if(active.length) {
            active.removeClass('btn-default').addClass('btn-warning');
            active.prevAll().removeClass('btn-default').addClass('btn-warning');
            active.nextAll().removeClass('btn-warning').addClass('btn-default');
        } else {
            $(this).find('.btn').removeClass('btn-warning').addClass('btn-default');
        }
    });

    $('.rating-select .btn').click(function(){
        if($(this).hasClass('selected')) {
            $('.rating-select .selected').removeClass('selected');
        } else {
            $('.rating-select .selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });
    document.getElementById("autocomplete").value ={{address|safe}}
});

var autocomplete;
function initialize() {
		console.log("in initialize");
        autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('autocomplete')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              		handleSearchLocation();
              });  
}
function geolocate() {
		console.log("in geolocate");
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
}

function handleSorting(el){
	var value = el.value;
	console.log("value here:",value);
	var locationVal = document.getElementById("autocomplete").value;
	console.log("locationVal here:",locationVal)
	if(locationVal!=""){
		 var url = "{% url 'findrestaurants' address=123 %}";
		location.href=url.replace('123', locationVal)+"?orderType="+{{orderTypeValue|safe}}+"&sortBy="+value;
	}
}

var delTimeMap = [30,45,60,75];
$("#ex13").bootstrapSlider({
    ticks: [30, 45, 60, 75],
    ticks_labels: ['30', '45', '60', 'Any'],
    min: 1,
    max: delTimeMap.length - 1,
    ticks_snap_bounds: 30,
    value: 0,
    slide: function(event, ui) {                        
            $("#ex13").val(valMap[ui.value]);                
    } 
})

function handleDeliveryTimeChange(el){
	console.log("el here:",el);
	console.log("value here:",el.value);
}
</script>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyA_T0L3QXJI0RusVVZ-44z7IWk1i4XKUOk&libraries=places"
        async defer></script>


