{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'Foodhub/stylesheet/style.css' %}" /> -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link href="//gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'Foodhub/stylesheet/style.css' %}" />
</head>
	
<body>
<div class="profilePageContainer">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script>
     alert('{{ message }}')
     </script>
    {% endfor %}
</ul>
{% endif %}
<div class="margin-extra-top">
	<div class="profileBody">
	<a  class="editWrapper" id ="editName" href="{% url 'edit_name' %}">
	<div class="editPart {% if editName %} hideName {% endif %}" onclick="editNameClick()">
		<h4 class="restaurantInfoHeader">Name</h4>	
		<h3>{{fName}} {{lName}}</h3>
	</div></a>
	<div class="editPart {% if not editName %} hideName {% endif %}">
	<form id ="editNameForm" method="POST" action = "{% url 'edit_name' %}">
	{% csrf_token %}
		<h3 class="editTitle">Edit Name</h3>
		<div class="editFieldContainer">
			<div class="b-row ">
				{% for field in form %}
					<div class="f-form col-sm-5">
						{{ field.label_tag }}<br>
						{{ field }}
					</div>
				{% endfor %}
			</div>
			<div class="col-xs-12 setMargin setMargin-top center-block text-center">
      				<button class="btn btn-info btn-lg" type="submit">Save</button>
        			<button class=" btn btn-info  btn-lg " onclick = "return handleCancelClick()">Cancel</button>
      		</div>
		</div>
	</form>
	</div>
	<a  class="editWrapper" href="{% url 'edit_email' %}">

	<div class="editPart {% if editEmail %} hideName {% endif %}"  onclick="editEmailClick()">
		<h4 class="restaurantInfoHeader">Email</h4>	
		<h3>{{email}}</h3>
	</div></a>
	<div class="editPart {% if not editEmail %} hideName {% endif %}">
	<form id ="editEmailForm" method="POST" action = "{% url 'edit_email' %}">
		{% csrf_token %}
		<h3 class="editTitle">Edit Email</h3>
		<div class="editFieldContainer">
			<div class="b-row ">
				{% for field in form %}
					<div class="f-form col-sm-5">
						{{ field.label_tag }}<br>
						{{ field }}
					</div>
				{% endfor %}
			</div>
			<div class="col-xs-12 setMargin setMargin-top center-block text-center">
      				<button class="btn btn-info btn-lg" type="submit">Save</button>
        			<button class=" btn btn-info  btn-lg " onclick = "return handleCancelEmailClick()">Cancel</button>
      		</div>
		</div>
	</form>
	</div>
	<div class="editPart" onclick="editPasswordClick()">
		<h4 class="restaurantInfoHeader">Password</h4>	
		<h3>********</h3>
	</div>
	</div>
</div>
</div>
<script type="text/javascript">
var fName = "{{fName}}"
var lName = "{{lName}}"
</script>
<script>

function handleCancelClick(){
	var url = "{% url 'edit_name' %}"
	location.href = url;
}
function handleCancelEmailClick(){
	var url = "{% url 'account' %}"
	location.href = url;
}


</script>
</body>	
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script type="text/plain" src=//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>
<script src="//gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</html>