{% load static %}
<head>
<title>Restauarants</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" />
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Vollkorn:700" rel="stylesheet">
<link rel="stylesheet" type="text/css"
    href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
<link rel="stylesheet" type="text/css" href="{% static 'Foodhub/stylesheet/style.css' %}" />
</head>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_T0L3QXJI0RusVVZ-44z7IWk1i4XKUOk&libraries=places"></script> 
<body style="background: #efefef;">
<nav class="navbar navbar-fixed-top navbar-inverse" style="background: red">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand mainlogo" style="color: white;font-size: 300%" href="/">Foodhub</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    <div class="col-sm-3 col-md-3"></div>
    	<div class="col-sm-4 wrapper" style="padding-top: 1%;">
	        <!-- <form class="navbar-form" role="search"> -->
	            <input type="text" id ="autocomplete" class="form-control" placeholder="&#xf002;  Where do you live?" style="font-family:Arial, FontAwesome" name="q">
	        <!-- </form> -->
	    </div>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 10%">
        <li style="padding-top: 2%"><a id="login" style ="color: white;font-family: Arial black" href="{% url 'login' %}" >Login</a></li>
        <li style="padding-top: 5%"><a id="signup" class="signupText" href="{% url 'signup' %}">Signup</a></li>
        <li><a id="logout" href="{% url 'logout' %}" style="display:none">Logout</a></li>
        <li style="padding-top: 10px;cursor: pointer;" class="pull-right">
        <div style="font-size:300%;color:white;height:100%;padding:0 10px"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"></ul>
    </div>
  </div>
</nav>
<div class="popup" data-popup="popup-1" style ="z-index: 900;">
    <div class="popup-inner" style="top:50%;height:80%">
      <div id = "listCustomizations" style="-webkit-overflow-scrolling:touch;overflow: scroll;height: 100%;overflow-x: hidden"></div>
      <br>
      <br>

      	<div class="EditButtonGroup">
      		<div class="s-row">
      		<div class = "col-sm-4">
      		<button data-popup-close="popup-1" class="btn btn-warning pull-left" href="#">Cancel</button>
      		</div>
      		<div class = "col-sm-7">
	        <button  class="btn btn-primary pull-right" href="#" onclick="handleAddToCart()">Add to Cart</button>
	        </div>
	        </div>
        </div>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>
{% include "shoppingCart/cartView.html" %}
<div class="restaurantOptions col-sm-9">
<div class="restaurantSummary">

<div class="r-row">
		<div class="imageShow">
			<img src="{{restaurant.logoUrl}}" alt="{{restaurant.name}} logo" width = 150>
		</div>
		<div class="rDescription">
			<h4>
			<div style="font-family: Arial black;font-size: 200%">{{restaurant.name}}</div>
			</h4>
			<div>{{restaurant.foodTypes|join:","}}</div>
			<div id ="restaurantAddress">
				{{restaurant.streetAddress}},{{restaurant.city}},{{restaurant.state}}
			</div>
			<div>
				<i class="fa fa-mobile" aria-hidden="true"></i>{{restaurant.phone}}
			</div>
		</div>
</div>
<span class="attribution" style="color: white; font-family:Arial Black">Courtesy- freefoodphotos.com</span> 
</div>
<div class="s-row restsmallDesc">
<div class="col-sm-12">
	<div>
		<div class="col-sm-3" style="border-right: 1px solid grey">
			<span class="text-center center-block">Hours</span>
			<h4 class="text-center">{{restaurant.hours.Tuesday.0}}</h4>
			
		</div>
		<div class="col-sm-3 minDelivery" style="border-right: 1px solid grey">
			<span class="text-center center-block">Delivery Minimum</span>
			<h4 class="text-center">${{restaurant.deliveryMin}}</h4>
			
		</div>
		<div class="col-sm-3" style="border-right: 1px solid grey">
			<span class="text-center center-block">Delivery Cost</span>
			{% if restaurant.deliveryPrice == 0.0 %}
			<h5 class="text-center">Free</h5>
			{% else %}
			<h4 class="text-center">${{restaurant.deliveryPrice}}</h4>
			{% endif %}
			
		</div>
		<div class="col-sm-3">
			<span class="text-center center-block">Waiting time</span>
			<h5 class="text-center">{{restaurant.minWaitTime}} - {{restaurant.maxWaitTime}}</h5>
			
		</div>
	</div>
</div>
</div>
<div class="s-row optionsNav">
<div class="menuNavSection">
<span class="menuNav active" onclick="handleOptionClick(this)">Menu</span>
<span class="aboutNav" onclick="handleOptionClick(this)">About</span>
<span class="reviewNav" onclick="handleOptionClick(this)">Reviews</span>
</div>
</div>
<div class="MenuLists">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
<div class="innerContainer">
	{% for menu in menus %}
		<div class="menusection" id ="menuSection{{menu.apiKey}}">
			<div id ="menuHeader{{menu.name}}" class="s-row menuheader-portion">
				<h3 class="menuHeading">{{menu.name}}</h3>
			</div>
			<div class="groupContainer">
			<div class="s-row menuItemrow">
			{% for item in menu.items %}
				<div class="menuitemSection">
				<div class="{{menu.name}} menuitemsection-inner">
					<div data-popup-open="popup-1" id="itemSection{{item.apiKey}}" onclick="handleitemClick(this)" class="menuite-inner-container s-row">
							<div class="col-sm-8 menuitemName">
								<h6><span>{{item.name}}</span></h6>
							</div>
							<div class="col-xs-4 menuitemprice pull-right text-right">
								<h6 class="text-right" style="width: 100%"><span>${{item.basePrice}}+</span></h6>
							</div>
						<div class="col-sm-12 menuitem-desc">
							{{item.description}}
						</div>
					</div>
					</div>
				</div>
				{% if forloop.counter|divisibleby:2 %}
					</div>
					<div class="s-row menuItemrow">
				{% endif %}
			{% endfor %}
			</div>
			</div>
		</div>
	{% endfor %}
	</div>
	</div>
</div>
<div class="s-row aboutRestaurant">
<div class="col-sm-12">
	<div class="s-row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="restaurantInfoContainer">
			<h3 class="restaurantInfoHeader">Information on {{restaurant.name}}</h3>
			<div class="restaurantDetails">
			Cuisines: {{restaurant.foodTypes|join:","}}
			</div>
			<div class="restaurantLocationContainer">
				<h3 class="s-row descriptionHeader">Location</h3>
				<div id="restaurantLocation" class="restaurantLocationMap">
				</div>
				<div class="addressInfo">
				<h4>{{restaurant.streetAddress}},{{restaurant.city}},{{restaurant.state}},{{restaurant.zip}}</h4>
				<h4>{{restaurant.phone}}
				</h4>
				</div>
			</div>
			<div class="restaurantHours">
				<div class="hourInfoContainer">
						<h3 class="s-row descriptionHeader">Restaurant Hours</h3>
					<ul class="hoursList">
					{% for day,hours in restaurantHours.items %}
						<li id ="{{day}}" class="dailyHoursRow">
							<div class="day">{{day}}</div>
							<div class="day-hours">{{hours.0}}</div>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="restaurantReview">
				<div class="restaurantReviewContainer reviewpanel">
				<div class="restaurantReviewInfo">
					<div class="reviewHeading">
						<div class="s-row reviewHeadingContent">
							<h3>Reviews for {{restaurant.name}}</h3>
						</div>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
<script type="text/plain" src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>
<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-places.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/plain" src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>

{% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>
   
<script>
var geocoder;
var map;
var address;
var latitude =0;
var longitude =0;
var latlanglocation =0;
var activeclass="menuNav";
var menuObject = {{menus|safe}}
var selectedMenuGroup;
var customizationGroups =[];
var selectedItemName,selectedItemDescription,selectedItemPrice;
var dropdownCount =0;
var sectionName,itemName;
var restaurantName,deliveryMin,deliveryPrice;
</script>
<script type="text/javascript"> 
  $(function(){
	google.maps.event.addDomListener(window, 'load', initialize);
	var today = new Date();
	var day = today.getDay();
	if(day ==0){
		document.getElementById("Sunday").style.fontWeight = 700;
	}else if(day ==1){
		document.getElementById("Monday").style.fontWeight = 700;
	}else if(day ==2){
		document.getElementById("Tuesday").style.fontWeight = 700;
	}else if(day ==3){
		document.getElementById("Wednesday").style.fontWeight = 700;
	}else if(day ==4){
		document.getElementById("Thursday").style.fontWeight = 700;
	}else if(day ==5){
		document.getElementById("Friday").style.fontWeight = 700;
	}else if(day ==6){
		document.getElementById("Saturday").style.fontWeight = 700;
	}
	restaurantName = "{{restaurant.name|safe}}";
	deliveryMin = "{{restaurant.deliveryMin|safe}}";
	deliveryPrice = "{{restaurant.deliveryPrice|safe}}";
	console.log("restaurantName here:",restaurantName);
});
</script>

<script>
var autocomplete,autocomplete3;
function handleOptionClick(el){
	var className; 
	if(el.textContent=="Menu"){
		className =".MenuLists";
		if(activeclass == "aboutNav"){
			$(".aboutNav").removeClass("active");
		}else if(activeclass == "reviewNav"){
			$(".reviewNav").removeClass("active");
		}
		if(!$(".menuNav").hasClass("active")){
		    $(".menuNav").addClass("active");
		}
		activeclass="menuNav";
	}else if(el.textContent=="About"){
		className =".aboutRestaurant";
		if(activeclass == "menuNav"){
			$(".menuNav").removeClass("active");
		}else if(activeclass == "reviewNav"){
			$(".reviewNav").removeClass("active");
		}
		if(!$(".aboutNav").hasClass("active")){
		    $(".aboutNav").addClass("active");
		}
		activeclass="aboutNav";
	}else if(el.textContent=="Reviews"){
		className=".restaurantReview";
		if(activeclass == "menuNav"){
			$(".menuNav").removeClass("active");
		}else if(activeclass == "aboutNav"){
			$(".aboutNav").removeClass("active");
		}
		if(!$(".reviewNav").hasClass("active")){
		    $(".reviewNav").addClass("active");
		}
		activeclass="reviewNav";
	}
	$('html,body').animate({
        scrollTop: $(className).offset().top},
        'slow');
}
function initialize() {
	autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('autocomplete')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              		handleSearchLocation();
         });
    autocomplete3 = new google.maps.places.Autocomplete(
        (document.getElementById('autocomplete3')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete3, 'place_changed', function() {
              });          

  address = document.getElementById("restaurantAddress").textContent;
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var myOptions = {
    zoom: 15,
    center: latlng
  };
  map = new google.maps.Map(document.getElementById("restaurantLocation"), myOptions);
  console.log("map here:",map);
  if (geocoder) {
  	console.log("it comes inside address:",address);
    geocoder.geocode({
      'address': address
    }, function(results, status) {
      if (status == 'OK') {
      	console.log("status obtained");
        if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
        	console.log("location here:",results[0].geometry.location);
        	console.log("inside if check");
        	console.log("get latitude",results[0].geometry.location.lat()
        		);
        	console.log("get latitude",results[0].geometry.location.lng());
          map.setCenter(results[0].geometry.location);

          latitude = results[0].geometry.location.lat();
          longitude = results[0].geometry.location.lng();
          latlanglocation = results[0].geometry.location;
          var marker = new google.maps.Marker({
            position: results[0].geometry.location,
            map: map,
            title: address
          });
        } else {
          alert("No results found");
        }
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
}


function handleitemClick(el){
	var id = el.id;
	var parentClass = $(el).parent().attr('class');
	sectionName = parentClass.substring(0,parentClass.indexOf("menuitemsection-inner"))
	sectionName = sectionName.trim();
	itemName = id.substring("itemSection".length,id.length).trim();

	console.log("sectionName here:",sectionName);
	console.log("itemName here:",itemName);

	for(var i=0;i<menuObject.length;i++){
		console.log("menuObject[i].name here:",menuObject[i].name);
		if(menuObject[i].name.trim() == sectionName){
			selectedMenuGroup = menuObject[i];
			break;
		}
	}
	console.log("selectedMenuGroup here:",selectedMenuGroup);
	for(var i=0;i<selectedMenuGroup.items.length;i++){
		console.log("api key here:",selectedMenuGroup.items[i].apiKey);
		
		if(selectedMenuGroup.items[i].apiKey.trim() == itemName){
			selectedItemName = selectedMenuGroup.items[i].name;
			selectedItemPrice = selectedMenuGroup.items[i].basePrice;
			selectedItemDescription = selectedMenuGroup.items[i].description;
			customizationGroups = selectedMenuGroup.items[i].customizationGroups;
			break;
		}
	}
	console.log("customizationGroups:",customizationGroups);
	console.log("selectedItemDescription:",selectedItemDescription);
	document.getElementById("listCustomizations").innerHTML ="";
	constructCustomization(selectedItemName,selectedItemDescription,customizationGroups);
}

function geolocate() {
		console.log("in geolocate");
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
            autocomplete3.setBounds(circle.getBounds());
          });
        }
}

function constructCustomization(itemName,itemDescription,customizationGroups){
	var customizationContainer = document.createElement("div");
	customizationContainer.className = "customizationContainer";
	document.getElementById("listCustomizations").appendChild(customizationContainer);
	var colDiv = document.createElement("div");
	colDiv.className = "col-sm-12";
	customizationContainer.appendChild(colDiv);
	var innerRow = document.createElement("div");
	innerRow.className = "s-row";
	colDiv.appendChild(innerRow);
	var innerCustomizationContainer = document.createElement("div");
	innerCustomizationContainer.className = "col-xs-12 col-md-12";
	innerRow.appendChild(innerCustomizationContainer);
	var customizationHeader = document.createElement("h3");
	customizationHeader.className ="s-row descriptionshadow descriptionHeader ";
	customizationHeader.textContent = itemName;
	innerCustomizationContainer.appendChild(customizationHeader);
	var descriptionContainer = document.createElement("div");
	descriptionContainer.className ="descriptionContainer";
	innerCustomizationContainer.appendChild(descriptionContainer);
	var innerDescriptionContainer = document.createElement("div");
	innerDescriptionContainer.className ="s-row";
	innerDescriptionContainer.textContent = itemDescription;
	descriptionContainer.appendChild(innerDescriptionContainer);
	dropdownCount =0;
	for(var j=0;j<customizationGroups.length;j++){

		constructHeader(customizationGroups[j].name, innerCustomizationContainer);
		if(customizationGroups[j].customizations[0].name ==""){
			var choices = customizationGroups[j].customizations[0].customizationChoices;
			dropdownCount ++;
			constructDropdown(choices,innerCustomizationContainer);
		}else{
			var contents = customizationGroups[j].customizations;
			constructCheckBox(contents, innerCustomizationContainer);
		}
	}
	constructHeader("Quantity",innerCustomizationContainer);
	var contents =[1,2,3,4,5,6,7,8,9,10];
	constructDropdown(contents,innerCustomizationContainer,"quantity");
	constructHeader("Special Requests",innerCustomizationContainer);
	constructTextArea(innerCustomizationContainer);

}

function constructHeader(headerName,parentContainer){
	var customizationHeader = document.createElement("h4");
	customizationHeader.className ="s-row descriptionHeader";
	customizationHeader.textContent = headerName;
	parentContainer.appendChild(customizationHeader);

}

function constructDropdown(contents,parentContainer,dropdownid){
	var customizationDropdownContainer = document.createElement("div");
	customizationDropdownContainer.className ="customizationDropdownContainer";
	parentContainer.appendChild(customizationDropdownContainer);
	var dropdownInnerContainer = document.createElement("div");
	dropdownInnerContainer.className="s-row";
	customizationDropdownContainer.appendChild(dropdownInnerContainer);
	var dropdownWrapper = document.createElement("div");
	dropdownWrapper.className = "dropdownWrapper";
	dropdownInnerContainer.appendChild(dropdownWrapper);
	var optionWrapper = document.createElement("select");
	optionWrapper.className ="form-control input-xxlarge";
	console.log("dropdownid:",dropdownid);
	if(dropdownid){
		optionWrapper.id = dropdownid;
	}else{
		optionWrapper.id = dropdownCount;
	}
	dropdownWrapper.appendChild(optionWrapper);
	for(var j=0;j<contents.length;j++){
		var optionsTag = document.createElement("option");
		  if(contents[j].name){
		  	optionsTag.textContent =contents[j].name; 
          	optionsTag.value=contents[j].name;
		  }else{
		  	optionsTag.textContent =contents[j]; 
          	optionsTag.value=contents[j];
		  }
          
          optionWrapper.appendChild(optionsTag);
	}

}

function constructCheckBox(contents,parentContainer){
	var customizationCheckboxContainer = document.createElement("div");
	customizationCheckboxContainer.className ="customizationDropdownContainer";
	parentContainer.appendChild(customizationCheckboxContainer);
	var checkboxInnerContainer = document.createElement("div");
	checkboxInnerContainer.className="s-row";
	customizationCheckboxContainer.appendChild(checkboxInnerContainer);
	console.log("contents here:",contents);
	console.log("name here:",contents[0].name);
		if(contents[0].name){
			createCheckBoxWrapper(contents,checkboxInnerContainer);
		}else{
			createCheckBoxWrapper(contents[0].customizationChoices,checkboxInnerContainer);
		}
	
}

function createCheckBoxWrapper(contents,checkboxInnerContainer){
	for(var j=0; j<contents.length;j++){
		if(contents[j].customizationChoices || contents[j].price!=0){
			var checkBoxWrapper = document.createElement("div");
				checkBoxWrapper.className = "checkBoxWrapper dropdownWrapper";
				checkboxInnerContainer.appendChild(checkBoxWrapper);
				var checkBoxinnerWrapper = document.createElement("div");
				checkBoxinnerWrapper.className ="checkBoxinnerWrapper";
				checkBoxWrapper.appendChild(checkBoxinnerWrapper);
				var checkBoxSelect = document.createElement("input");
				checkBoxSelect.type="checkbox";
				checkBoxSelect.className ="checkboxclass"
				checkBoxSelect.name = contents[j].name;
				checkBoxinnerWrapper.appendChild(checkBoxSelect);
				var checkBoxRegionWrapper = document.createElement("label");
				checkBoxRegionWrapper.setAttribute("for",contents[j].name);
				checkBoxRegionWrapper.className ="checkboxholder";
				checkBoxinnerWrapper.appendChild(checkBoxRegionWrapper);
				var checkBoxLableWrapper = document.createElement("label");
				checkBoxLableWrapper.setAttribute("for",contents[j].name);
				checkBoxLableWrapper.className ="checkboxDescirption";
				if(contents[j].customizationChoices){
					checkBoxLableWrapper.textContent = contents[j].name + " - $"+ contents[j].customizationChoices[1].price ;
				}else{
					checkBoxLableWrapper.textContent = contents[j].name + " - $"+ contents[j].price ;
				}
				
				checkBoxinnerWrapper.appendChild(checkBoxLableWrapper);
		}	
	}	
}

function constructTextArea(parentContainer){
	var customizationDropdownContainer = document.createElement("div");
	customizationDropdownContainer.className ="customizationDropdownContainer";
	parentContainer.appendChild(customizationDropdownContainer);
	var textAreaInnerContainer = document.createElement("div");
	textAreaInnerContainer.className="s-row";
	customizationDropdownContainer.appendChild(textAreaInnerContainer);
	var textAreaRegionWrapper = document.createElement("input");
	textAreaRegionWrapper.type = "textarea";
	textAreaRegionWrapper.className="textinnerWrapper form-control";
	textAreaInnerContainer.appendChild(textAreaRegionWrapper)
	var specialWarning = document.createElement("span");
	specialWarning.textContent ="* Charges may apply";
	textAreaInnerContainer.appendChild(specialWarning)

}
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function handleSearchLocation(){
	var addressVal = autocomplete.getPlace().formatted_address;
	console.log("addressVal here:",addressVal);
	if(addressVal!=""){
		 var url = "{% url 'findrestaurants' address=123 %}";
		location.href=url.replace('123', addressVal);
	}
}

function handleAddToCart(){
	var productDetails ={};
	productDetails.name = selectedItemName;
	productDetails.price = selectedItemPrice;
	var quantity = parseInt(document.getElementById("quantity").value);
	productDetails.qty = quantity;
	productDetails.customizationList =[];
	var dropdowncountVal =1;
	for(var j=0;j<customizationGroups.length;j++){
		var customization ={}
		if(customizationGroups[j].customizations[0].name ==""){
			customization.name = document.getElementById(dropdowncountVal).value;
			customization.price =0; 
			productDetails.customizationList.push(customization);
			dropdowncountVal ++;
		}else{
			var contents = customizationGroups[j].customizations;
			var subCustomization =[];
			if(contents[0].name){
			subCustomization = createCustomizationObjects(contents); 
			}else{
			subCustomization = createCustomizationObjects(contents[0].customizationChoices);
			}
			console.log("subCustomization:",subCustomization)
			for(var k=0;k<subCustomization.length;k++){
				productDetails.customizationList.push(subCustomization[k]);
			}
		}
	}
	console.log("productDetails here:",productDetails)
	if(document.getElementById("cartEmptyContainer")){
		document.getElementById("cartEmptyContainer").style.display ="none";
	}
	
	$.ajax({
                 type:"POST",
                 url:'{% url "shoppingCart:addToCart" %}',
                 data: {
                 		"productDetails":JSON.stringify(productDetails),
                 		"sectionName": sectionName,
                 		"itemName":itemName,
                 		"restaurantName":restaurantName,
                 		"deliveryMin":deliveryMin,
                 		"deliveryPrice":deliveryPrice
                        },
                 success: function(result){
                 	console.log("result here:",result)
                     $('[data-popup-close]').click();
						constructProductContainer(productDetails,sectionName,itemName);
						if(document.getElementById("subTotalWrapper")){
							document.getElementById('ProductSubTotal').textContent = result.subTotal;
							document.getElementById('ProductTotal').textContent = result.totalAmt;
							document.getElementById('totalValue').textContent = result.totalAmt;
						}else{
							createSubTotalWrapper(result.subTotal,result.deliveryFee,result.taxAmt, result.totalAmt);
							createCartFooter(result.totalAmt);
						}
                    }
    });
	
}

function createCustomizationObjects(contents){
	var custmizationSubArray =[]
	for(var j=0; j<contents.length;j++){
		if(contents[j].customizationChoices || contents[j].price!=0){
			var customization ={};
			var chkbox = $('input[name="'+contents[j].name+'"]:checkbox');
			console.log("chkbox  here:",chkbox);
			console.log("checked vaue here :",chkbox.is(":checked"));
			if(chkbox.is(":checked")){
				customization.name = contents[j].name;
				if(contents[j].customizationChoices){
					customization.price = contents[j].customizationChoices[1].price;
				}else{
					customization.price = contents[j].price;
				}
				custmizationSubArray.push(customization);
			}
		}
	}
	return custmizationSubArray;
}

$('[data-popup-open]').on('click', function(e)  {
		$('body').css('overflow','hidden');
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
        e.preventDefault();
});

$('[data-popup-close]').on('click', function(e)  {
		$('body').css('overflow','auto');
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
 
        e.preventDefault();
});
</script>