{% block content %}

{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'Foodhub/stylesheet/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
</head>
<nav class="navbar navbar-fixed-top navbar-inverse" style="background: transparent;border: none">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand mainlogo" style="color: white;font-size: 300%">Foodhub</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" style="padding-right: 10%">
        <li style="padding-top: 2%"><a id="login" style ="color: white;font-family: Arial black" href="{% url 'login' %}" >Login</a></li>
        <li style="padding-top: 5%"><a id="signup" class="signupText" href="{% url 'signup' %}">Signup</a></li>
        <li><a id="logout" href="{% url 'logout' %}" style="display:none">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"></ul>
    </div>
  </div>
</nav>
  <div class="new text-center" style="margin-top: 5%;">
    <div class="my-row special">
      <div class="v-m">
        <div class ="form center-block ">
            <h2>Sign up</h2>
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                <p>
                  {{ field.label_tag }}<br>
                  {{ field }}
                  {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
              {% endfor %}
              <button class="btn btn-info btn-sm" type="submit">Sign up</button>
              <a href="{% url 'login' %}">Already SignedUp? Log in</a>
            </form>
        </div>
      </div>
    </div>
  </div>     
{% endblock %}